.site-header {
    background-color: #0052cc;
    border: 0px;
    line-height: 50px;
    min-height: 50px;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.site-header-logo {
    display: inline-block;
    height: 45px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.site-header-logo img {
    height: 45px;
    vertical-align: top;
}

.site-title, .site-title:visited {
    float: none;
    line-height: 40px;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

.site-nav .nav-item {
    color: #fff;
}