
@import "comments.scss";
@import "header.scss";

/* Fixes issue where markdown code tags (`code`) gets the wrong
font-size when in a post title.
We use 87.5% to match the ratio of the normal text size to code text size
that minima uses by default (16px -> 14px) and assume this will work for larger font sizes.
- Noggin-bops 2025-12-15
*/
code.highlighter-rouge {
    font-size: 87.5% !important;
}

.light-dark-svg {
    --svg-text-color: var(--minima-text-color);
}

.equation-svg {
    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.equation-svg svg {
    display: block;
    width: var(--svg-custom-width, 85%);
    height: var(--svg-custom-height, auto);

    min-width: 15em;
    max-height: 10lh;
    margin: 0 auto;
}

#markdown-toc {
    width: fit-content;
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--minima-border-color-02);
    border-radius: 5px;

    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 1em;

    background-color: $toc-background-color;

    list-style-position: inside;
}

.info-notice {
    border: 3px solid;
    border-color: $info-notice-border-color;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 15px;

    background-color: $info-notice-bg-color;

    

    p {
        margin-bottom: 0;
        padding-left: 1em;
    }
}

.info-notice::before {
    content: "INFO: \A";
    color: $info-notice-title-color;
    font-weight: bold;
}